@import "tailwindcss";

:root {
  --background: #050505; /* Changed default to your Black */
  --foreground: #ffffff; /* Changed default to White */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* --- CORE SCROLLING FIXES --- */
html {
  /* 1. This makes the jump a smooth glide */
  scroll-behavior: smooth !important; 
  
  /* 2. This creates a buffer so the Navbar doesn't cover the text */
  
  
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- TOUCH OPTIMIZATION --- */
button, a {
  cursor: pointer;
  touch-action: manipulation;
}